/*** background ***/
	#background {
		position: absolute;
		top: 0;
		left: 0;
		height: calc(100vh + var(--card-size));
		width: calc(100vw + var(--card-size));
		z-index: -1;
		pointer-events: none;
		filter: blur(var(--blur-size));
		overflow: hidden;
	}

	.background-card {
		pointer-events: none;
		float: left;
		border-radius: var(--border-radius);
		background-color: var(--dark-gray);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: var(--transition-time);
	}

	/* colors */
		[color="red"] {
			background-image: url("assets/red.png");
		}

		[color="yellow"] {
			background-image: url("assets/yellow.png");
		}

		[color="green"] {
			background-image: url("assets/green.png");
		}

		[color="blue"] {
			background-image: url("assets/blue.png");
		}

		[color="white"] {
			background-image: url("assets/white.png");
		}

/*** container ***/
	#container {
		position: absolute;
		height: auto;
		width: calc(4 * (var(--card-size) + var(--small-gap-size)) - var(--medium-gap-size));
		height: calc(4 * (var(--card-size) + var(--small-gap-size)) - 2 * var(--medium-gap-size));;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		padding: var(--medium-gap-size);
		border-radius: var(--border-radius);
		background-color: rgba(255,255,255,0.5);
		box-shadow: 0 0 var(--shadow-size) var(--medium-gray);
	}

	/* heading */
		#heading-logo {
			background-image: url("assets/logo.png");
			background-repeat: no-repeat;
			background-size: contain;
			height: var(--huge-font-size);
			width: var(--huge-font-size);
			float: right;
		}

	/* forms */
		#player-name-input {
			font-size: var(--large-font-size);
			height: calc(var(--card-size) - 2 * (var(--small-gap-size) + var(--border-size)));
			margin-top: var(--medium-gap-size);
			margin-bottom: var(--medium-gap-size);
		}

		#new-game-form, #join-game-form {
			display: inline-block;
			width: 50%;
		}

		#new-game-button {
			font-size: var(--large-font-size);
			float: left;
			height: calc(2 * var(--card-size));
			width: calc(2 * var(--card-size));
			margin: 0;
			margin-right: var(--small-gap-size);
		}

		#game-id-input {
			font-size: var(--large-font-size);
			float: right;
			height: calc(var(--card-size) - 2 * (var(--small-gap-size) + var(--border-size)));
			width: calc(2 * (var(--card-size) - (var(--small-gap-size) + var(--border-size))));
			margin: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			margin-left: var(--small-gap-size);
		}

		#join-game-button {
			font-size: var(--large-font-size);
			float: right;
			margin: 0;
			height: var(--card-size);
			width: calc(2 * var(--card-size));
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin-left: var(--small-gap-size);
		}
